# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
*.lock
# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
# Gradle build cache and wrapper
.gradle/
**/android/.gradle/
android/.cxx/
# Secrets
secrets/
*.pem
*.jks
*.keystore
.env
